/** Custom general style **/
.navbar-nav > li > a, .dropdown-menu > li > a{
	border-radius:15px;
}

.breadcrumb li a {
    border-radius:15px;
}
.impact_img svg {
	background-color:${webleger.site.style.color};
	color:${webleger.site.style.background.color};
}
.primary .impact_img svg {
	background-color:${webleger.site.style.primary.highlight.color};
}

#preHeader_blocks {
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
}
#preHeader .blockContent {
	padding: 0;
	margin-left: 12px;
}
#preHeader .blockContent > p{
	margin : 0px;
}
#preHeader .blockIcon{
	width: auto;
	height:auto;
}

.bievenue .blockContent, .desc_ent .card_content {
	color:${webleger.site.style.muted.foreeground};
}
.bievenue .blockIcon_wraper img {
	border-radius:100%;
	height:auto;
}

.desc_ent .card_image {
	float:left;
	padding: 8px;
	height: 40px;
	width: 40px;
	margin-top: 24px;
	margin-right: 25px;
	border-radius:100%;
	background-color:#f3eee6;
	color:${webleger.site.style.primary.background.color};
}

.glossay_term {
	color:${webleger.site.style.primary.background.color};
}
#footer_blocks .block {
	text-align:left;
}
#footer_blocks .blockBody {
	flex-direction: row;
}

@media screen and (min-width: 640px) {
	#footer_blocks .block {
		width:31%;
	}
	#preHeader_blocks {
		flex-direction: row-reverse;
		justify-content: flex-start;
		gap:30px;
	}
	.preHeader .blockContent {
		margin-left: 25px;
	}
	.bievenue .blockIcon_wraper img {
		width:80%;
	}
}
